# Eclipse
/task_extraction/.classpath
/task_extraction/.project
/task_extraction/.settings/

# Mac
*.DS_Store

# Ignore xml files for now
data/*.xml
#ignore these external libraries for now too
lib/stanford-corenlp-full-2018-10-05/*
lib/log4j*.jar
lib/ecj-4.11.jar
