# Eclipse
# /task_extraction/.classpath
# /task_extraction/.project
# /task_extraction/.settings/
# leave these for now

# Mac
*.DS_Store

# Ignore xml files for now
data/*.xml
# ignore super big libraries too
lib/stanford-corenlp-full-2018-10-05/*