<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
 <extension point="org.eclipse.ui.commands">
       <category
            id="nlp3code.category"
            name="Handler Category">
      </category>
      <command
            categoryId="nlp3code.category"
            id="nlp3code.handler"
            name="Input Handler">
      </command>
      <command
            categoryId="nlp3code.category"
            id="nlp3code.cyclehandler"
            name="Cycle Answers Handler">
      </command>
      <command
            categoryId="nlp3code.category"
            id="nlp3code.testhandler"
            name="Test Handler">
      </command>
 </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler
            class="nlp3code.cycler.CycleAnswersHandler"
            commandId="nlp3code.cyclehandler">
      </handler>
      <handler
            class="nlp3code.InputHandler"
            commandId="nlp3code.handler">
      </handler>
      <handler
      		class="nlp3code.tester.TestHandler"
      		commandId="nlp3code.testhandler">
      </handler>
 </extension>
 <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="nlp3code.cyclehandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+`">
      </key>
      <key
            commandId="nlp3code.cyclehandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+`">
      </key>
      <key
      		contextId="org.eclipse.ui.contexts.dialogAndWindow"
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B"
            commandId="org.eclipse.jdt.ui.specific_content_assist.command">
            <parameter
            id="org.eclipse.jdt.ui.specific_content_assist.category_id"
            value="nlp3code.contentassist.tasks"/>
      </key>
      <key
      		contextId="org.eclipse.ui.contexts.dialogAndWindow"
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+T"
            commandId="org.eclipse.jdt.ui.specific_content_assist.command">
            <parameter
            id="org.eclipse.jdt.ui.specific_content_assist.category_id"
            value="nlp3code.contentassist.test"/>
      </key>
      <key
      		commandId="nlp3code.testhandler"
      		contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
      		sequence="M1+M3+D">
      </key>
 </extension>
 <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="nlp3code.toolbar">
            <command
                  commandId="nlp3code.handler"
                  icon="icons/stackoverflow.gif"
                  id="nlp3code.toolbar.handler"
                  style="push"
                  tooltip="Query Stack Overflow">
            </command>
            <command
                  commandId="nlp3code.cyclehandler"
                  icon="icons/cycle.gif"
                  id="nlp3code.toolbar.handler"
                  style="push"
                  tooltip="Cycle Code Snippet - Press to see diferent answers to your previously made query. (CTRL + `)">
            </command>
         </toolbar>
      </menuContribution>
 </extension>
 <extension
 	id="nlp2code.contentassist"
    point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
    <proposalCategory>
	</proposalCategory>
	<proposalComputer
		activate="true"
		categoryId="nlp3code.contentassist.tasks"
		class="nlp3code.recommenders.TaskRecommender"
		id="nlp3code.proposalcomputer">      
		<contentType id="org.eclipse.core.runtime.text"/>      
	</proposalComputer>   
	<proposalComputer
	    activate="true"
	    categoryId="nlp3code.contentassist.test"
	    class="nlp3code.recommenders.TypeRecommender"
	    id="nlp3code.proposalcomputer">      
	 	<contentType id="org.eclipse.core.runtime.text"/>      
	 </proposalComputer>   
   </extension>
</plugin>